
/*
This is a body and text style
 */
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


h1 {
    color: #0CA5B0;
    font-family: 'Quicksand';
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -4px;
    margin-bottom: 36px;
}

p {
    color: #4E3F30;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 36px;
    text-indent: 36px;
}

a {
    color: #0CA5B0;	/*border-bottom: 1px solid #0CA5B0;*/
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    padding: 1%;
}

a:hover {
   /* border-bottom: 1px solid #4E3F30;*/
    color: #4E3F30;
    text-decoration: none;
}

ul {
    list-style-type: none;


    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

.error-style {
    color: red;
    font-weight: bold;
    font-family: "Arial Black"!important;

}

label.required:after {
    content: "* ";
}

.content {
    max-width: 500px;
    margin: auto;
}


/*
This is a link style
 */

.capitalize{
    text-transform: capitalize;
}

.wrapper{
    margin:3em 0;
}
a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#81b3d2;
    font-size:1.5em;
}
a:hover{
    color:#d73444;
    text-decoration: none;
}
a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
a.before:before{
    top:-0.25em;
}
a.after:after{
    bottom:-0.25em;
}
a.before:before,a.after:after{
    height:5px;
    height:0.35rem;
    width:0;
    background:#d73444;
    text-decoration: none;
}
a.first:after{
    left:0;
    text-decoration: none;
}
a.second:after{
    right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    text-decoration: none;
}
a.fourth:before,a.fourth:after{
    left:0;
}
a.fifth:before,a.fifth:after{
    right:0;
}
a.seventh:before{
    right:0;
}
a.seventh:after{
    left:0;
}
a.eigth:before{
    left:0;
}
a.eigth:after{
    right:0;
}
a.before:hover:before,a.after:hover:after{
    width:100%;
    text-decoration: none;
}
.square{
    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    font-size:2.5em;
    overflow:hidden;
    text-decoration: none;
}
.square a{
    position:static;
    font-size:100%;
    padding:0.2em 0.4em;
    text-decoration: none;
}
.square:before,.square:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    width:5px;
    width:0.35rem;
    height:0;
    background:#d73444;
    text-decoration: none;
}
.square:before{
    left:0;
    bottom:-0.2em;
    text-decoration: none;
}
.square.individual:before{
    transition-delay:0.6s;
}
.square:after{
    right:0;
    top:-0.2em;
    text-decoration: none;
}
.square.individual:after{
    transition-delay:0.2s;
}
.square a:before{
    left:0;
    transition:0.25s all ease;
    text-decoration: none;
}
.square a:after{
    right:0;
    transition:0.25s all ease;
    text-decoration: none;
}
.square.individual a:after{
    transition:0.25s all ease 0.4s;
    text-decoration: none;
}
.square:hover:before,.square:hover:after{
    height:calc(100% + 0.4em);
    text-decoration: none;
}
.square:hover a:before,.square:hover a:after{
    width:100%;
    text-decoration: none;
}


/*
GODDAMN FORMS

 */





.form-labels-on-top{
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    padding: 55px;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.form-labels-on-top .form-row{
    text-align: left;
    max-width: 315px;
    margin: 10px auto 15px;
}

.form-labels-on-top .form-title-row{
    margin: 0 auto 40px;
}

.form-labels-on-top h1{
    display: inline-block;
    box-sizing: border-box;
    color: #4C565E;
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    border-bottom: 2px solid #6CAEE0;
}

.form-labels-on-top .form-row > label {
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 200px;
    padding: 0 5px 12px;
}

.form-labels-on-top input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
    width: auto;
}

.form-labels-on-top button{
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-labels-on-top{
        padding: 30px;
    }

    .form-labels-on-top input{
        width: 240px;
    }

}



/*
I can't believe it's a table style

 */
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}